{% extends 'base.html' %}

{% load static %}

{% block title %}About us{% endblock %}

{% block content %}

    <div class="showcase">
		<div class="showcase__block">
			<div class="showcase__text">
				Welcome to <br> Bangladesh!
			</div>
		</div>
	</div>

    <section id="about">
		<div class="container">
			<div class="about__body">
				<h1 class="about__title">About <span>Ghuroooo</span></h1>
			<p><span>Ghuroooo</span> Welcome to "Ghuroooo" – Your Gateway to Central Asia! Embark on a Journey of Discovery in Bangladesh.</p>
				<p>Are you seeking an authentic adventure in the heart of South Asia? Look no further than Bangladesh, a land of vibrant culture, natural wonders, and warm hospitality. </p>
				<p>Discover the Charm of Bangladesh:</p>
				<ul class="about__list">
					<li>Immerse in the natural beauty of the Sundarbans, the world's largest mangrove forest.</li>
					<li>Explore ancient mosques and temples, like the Sixty Dome Mosque and Paharpur Ruins, steeped in history.</li>
					<li>Delight your taste buds with mouth-watering Bangladeshi cuisine, a fusion of flavors and spices.</li>
				</ul>
				<p>In all these cases, please contact us and we will definitely help you. Our consultants answer within 2 hours and are available 24 hours 7 days a week.</p>
			</div>
		</div>
	</section>

	<section class="reason">
		<div class="container">
			<div class="reason__body">
				<div class="reason__title">Why Choose Us for Your Bangladeshi Adventure?<br> <span>Ghuroooo</span></div>
				<div class="reason__list">
					<ul class="check">
						<li>Tailored Itineraries: Customized tours ensuring a personalized and enriching experience.</li>
						<li>Comfortable Transportation: Travel at ease in our reliable full-drive off-road vehicles.</li>
						<li>Hassle-free Booking: From last-minute plans to pre-booked trips, we've got you covered 24/7.</li>
						<li>Unlock Bangladeshi Beauty with Ghuroooo</li>
						<li>We will find an individual approach to any customer</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

   <div class="container">
     <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4 display-4 "><strong>Frequently Asked Questions</strong></h2>
        <div class="accordion accordion-flush" id="questions">
          <!-- Item 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-one"
              >
                Where exactly are you located?
              </button>
            </h2>
            <div
              id="question-one"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                We are an online travel and tourism platform, and we don't have a physical location. You can access
                  our services and information from anywhere in the world with an internet connection.

              </div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-two"
              >
                How much does it cost to attend?
              </button>
            </h2>
            <div
              id="question-two"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Accessing our website is entirely free of charge.
                  You can browse and use our resources, search for travel information,
                  and make bookings without any membership or attendance fees. You only pay for the services or bookings you choose.
              </div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-three"
              >
                What do I need to Know?
              </button>
            </h2>
            <div
              id="question-three"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                We offer a wide range of travel and tourism information on our website.
                  You can find details about destinations, attractions, accommodations, and travel tips.
                  Use our search and navigation tools to find the specific information you need.

              </div>
            </div>
          </div>
          <!-- Item 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-four"
              >
                How Do I sign up?
              </button>
            </h2>
            <div
              id="question-four"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                We don't require you to sign up for a general browsing experience.
                  However, if you wish to receive newsletters, special offers, or save your booking preferences, you can create an account.
                  To sign up, click on the "Sign Up" or "Register" button, and follow the instructions.

              </div>
            </div>
          </div>
          <!-- Item 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-five"
              >
                Do you help me find a job?
              </button>
            </h2>
            <div
              id="question-five"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                No, our website primarily focuses on providing travel and tourism information, including destination guides, accommodations, and travel tips.
                  We do not offer job placement services. If you are looking for employment opportunities, we recommend using job
                  search platforms or contacting local employment agencies in your desired location.

              </div>
            </div>
          </div>
        </div>
      </div>
   </section>
   </div>

	<section id="instructors" class="p-5 bg-primary">
      <div class="container">
        <h2 class="text-center text-white display-4"><strong>Our Team</strong></h2>
        <p class="lead text-center text-white mb-5">
          Our instructors all have 2+ years working as a web developer in the
          industry
        </p>
        <div class="row g-4">
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="{% static 'blog/img/shafin.jpg' %}" style="width: 200px; height: 90px;">
                <h3 class="card-title mb-3">Md.Shafin Mahmud Miraj</h3>
                <p class="card-text">
                  Age:21. <br>
                  Like to play Computer Game.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="{% static 'blog/img/deva.jpg' %}" style="width: 200px; height: 90px;">
                <h3 class="card-title mb-3">Devasish Das</h3>
                <p class="card-text">
                  Age:22. <br>
                  does not  came to university most of the time .
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="{% static 'blog/img/shakib.jpg' %}" style="width: 200px; height: 90px;">
                <h3 class="card-title mb-3">Ahmad Bin Karim</h3>
                <p class="card-text">
                  Age:21. <br>
                  Travelling,  playing cricket football.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="{% static 'blog/img/mim.jpg' %}" style="width: 200px; height: 90px;">
                <h3 class="card-title mb-3">Md Asadullah Mim</h3>
                <p class="card-text">
                  Age:21. <br>
                  take photo Everytime.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
   </section>

    <div class="contact">
		<div class="container">
			<div class="contact__title">Contact Us</div>
			<div class="contact__row">
				<div class="contact__item">
					<div class="item__title">You can contact us</div>
					<form action="#" class="item__form" method="post">
                        {% csrf_token %}
						<input type="text" placeholder="Name" name="name">
						<input type="email" placeholder="E-mail" name="email">
						<input type="text" placeholder="Phone" name="phone">
						<textarea name="text" rows="2.5" placeholder="Text..."></textarea>
						<input type="submit" value="Send">
					</form>
				</div>
				<div class="contact__item">
					<div class="item__title">Our Address</div>
						<p class="address item__info">Bangladesh</p>
						<p class="number item__info">017abcdefgh <br> 019abcdefgh</p>
						<p class="email item__info">ghurooooBd@gmail.com</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}